$link-color: #818181;
$link-color-hover: #f1f1f1;
$nav-background-color: #383b44;

$tpc-width: 800px;
$tpc-height: 600px;

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$material-blue: #2196F3;
$material-blue-dark: #1976D2;
$material-red: #F44336;
$material-red-dark: #D32F2F; 
$material-deep-orange: #FF5722;
$material-orange: #FF9800;

$primary-font: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
$secondary-font: 'Open Sans',sans-serif;
