@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

* {
  margin:0;
  padding:0;
}

html, body {
  width:100%;
  height:100%;
  overflow:hidden;
  font-family: $primary-font;
  font-weight: 300;
}

.body-container {
  width: 100%;
  height: 100%;
  background-color: $primary-color;
}

div#guide {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 600px;
  border-right: 1px solid #0080ff;
  border-bottom: 1px solid #0080ff;
  transition: left .5s;
}

canvas {
  display:block;
}

/*a {
  color: $nav-background-color;
}*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  color: #FFF;
  background-color: $primary-color-dark;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  //-webkit-box-shadow: 5px 0 10px 2px rgba(0, 0, 0, 0.4);
  //        box-shadow: 5px 0 10px 2px rgba(0, 0, 0, 0.4);

  .inner {
    padding: 0 10px;
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 3px;
  }

  .form-control {

    display: block;
    width: 50px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }

  input {
    float: right;
  }

  .form-group {
    margin-bottom: 15px; 
  }

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $primary-color-text;
    display: block;
    transition: 0.3s;
    
    &:hover {
      color: $primary-color-dark;
    }
  }

  .closebtn {
    position: absolute;
    top: -10px;
    left: -20px;
    font-size: 36px;
    margin-left: 0px;
  }
}


.offcanvas {
  a {
    &:focus{
      color: $primary-color-dark;
    }
  }
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#open-nav {
  font-size:30px;
  cursor:pointer;
  //margin: 10px 10px 10px 10px;
  color: #6d6d6d; 
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 9999;
}


.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-info {
  color: #fff;
  background-color: $material-blue;
  border-color: $material-blue-dark;
}

.btn-danger {
  color: #fff;
  background-color: $material-red;
  border-color: $material-red-dark;
}

.btn {
  width: 100%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

}

button#clear-canvas {
  position: absolute;
  width: 180px;
  top: 480px; // Otherwise, it'll hide behind nav-icons and won't be clickable
}

.fileUpload {
    position: relative;
    overflow: hidden;
    width: 154px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

div#text-options {
    display: none;
    /*border: 1px solid #767779;*/
    padding: 5px;
    height: 33px;
    margin: 0px 0px 10px 0px;
    /*float: left;*/

    input#text-color {
        /*width: 30px;*/
        /*height: 30px;*/
    }
}

.nav-icons-container {
  position: absolute;
  top: $tpc-height - 65;
  height:50px;
  width: $tpc-width;
  z-index: 9999;
}

.nav-icons {
    height:65px;
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: $primary-color-dark;

    a {
		color: $primary-color-dark;
    }
}

div.tpc-container {
    height:$tpc-height - 70px; // - 70px to account for navigation buttons
    width:$tpc-width - 1px;
    overflow-x: auto;
}

div.tpc-container.slidedeck {
   height:$tpc-height;
   width:$tpc-width;
   background: #fff;
}

div.tpc-container.dragscroll {
    cursor: -webkit-grab;
}

.fadeout {
    display: none; // Until we're ready for it
    position: absolute;
    top: 466px;
    bottom: 4em;

    height: 4em;
    width: 780px;

    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 

#events-loading-spinner {
    position: relative;
    top: 250px;
    width: 100%;
    color: $accent-color;
}

div#pto-list-container {
  margin-bottom: 20px;
}


ul#pto-list,
ul#events-list,
div#no-events {
  margin-bottom: 10px;
  margin-top: 10px;
  color: $primary-text-color;
  font-size: 18px;

  li {
    display: table;
    border-left: 5px solid $accent-color; 
    border-top: 1px solid $divider-color;
    border-right: 3px solid $divider-color;
    height: 30px;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $primary-color-text; 
    overflow: hidden;
    white-space: nowrap;

    p {
      display: table-cell;
      vertical-align: middle;

      span.summary {
        color: $primary-text-color;
		display: block;
      }

      span.when {
        color: $secondary-text-color;
		display: block;
        font-size: 14px;
      }
    }
	
  }
}

div#no-events {
  li {
    border-left: 5px solid $material-blue-dark;
  }
}

ul#pto-list {
  li {
    border-left: 5px solid $material-blue;
  }
}


/* ANALYTICS PAGE */

div.card {
    width: 300px;
    display: inline-block;
    background: white;
    border-top: 20px solid $primary-color-dark;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    /* -webkit-box-shadow: 0px 1px 1px #de1dde; */
    padding: 10px;
    margin: 25px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.31);

    .fa-spinner {
      color: $accent-color;
    }

    .content {
      height: 100%;
      width: 100%;
      position: relative;

      span.title {
        font-size: 28px;
        color: $secondary-text-color; 
		display: block;
        position: absolute;
        bottom: 17px;
      }

      span.text.huge {
        font-size: 72px;
      }

      span.text.small {
        font-size: 24px;
      }

      span.text {
        color: $primary-text-color;
		display: block;
      }

      span.subtext {
        color: $secondary-text-color;
		display: block;
        position: absolute;
        bottom: 0px;
        color: #757575;
      }
    }
}

div.card.small {
  height: 136px;
}

div.card.medium {
  height: 208px;
}

div.card.large {
  height: 304px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
/*
::-webkit-scrollbar {
      width: 15px;
}

::-webkit-scrollbar-track {
      background-color: white;
}
 
::-webkit-scrollbar-thumb {
      background-color: $primary-color-dark;
}
*/

ul#slidedeck {
  max-height: $tpc-height;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  img {
    min-width: $tpc-width;;
  }
}
